USE [master]
GO
/****** Object:  Database [DungCuTheThao]    Script Date: 5/7/2019 8:03:58 PM ******/
CREATE DATABASE [DungCuTheThao]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DungCuTheThao', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DungCuTheThao.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DungCuTheThao_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DungCuTheThao_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DungCuTheThao].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DungCuTheThao]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 5/7/2019 8:03:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[TEN] [nvarchar](20) NOT NULL,
	[MATKHAU] [nvarchar](20) NULL,
	[CAPDO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 5/7/2019 8:03:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MAHOADON] [nvarchar](20) NULL,
	[MASANPHAM] [nvarchar](20) NULL,
	[SOLUONG] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANHMUC]    Script Date: 5/7/2019 8:03:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUC](
	[MADANHMUC] [nvarchar](20) NOT NULL,
	[TENDANHMUC] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADANHMUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 5/7/2019 8:03:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHOADON] [nvarchar](20) NOT NULL,
	[TENKHACHHANG] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[NGAYDATHANG] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[SODT] [nvarchar](20) NULL,
	[TRANGTHAI] [nvarchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 5/7/2019 8:03:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASANPHAM] [nvarchar](20) NOT NULL,
	[TENSANPHAM] [nvarchar](100) NULL,
	[MIEUTA] [nvarchar](100) NULL,
	[IMG] [nvarchar](100) NULL,
	[GIA] [float] NULL,
	[MADANHMUC] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ACCOUNT] ([TEN], [MATKHAU], [CAPDO]) VALUES (N'quang', N'quyen123', 1)
INSERT [dbo].[ACCOUNT] ([TEN], [MATKHAU], [CAPDO]) VALUES (N'quyen', N'quyen123', 2)
INSERT [dbo].[DANHMUC] ([MADANHMUC], [TENDANHMUC]) VALUES (N'DM1', N'Giày')
INSERT [dbo].[DANHMUC] ([MADANHMUC], [TENDANHMUC]) VALUES (N'DM2', N'Tất')
INSERT [dbo].[DANHMUC] ([MADANHMUC], [TENDANHMUC]) VALUES (N'DM3', N'Bóng')
INSERT [dbo].[SANPHAM] ([MASANPHAM], [TENSANPHAM], [MIEUTA], [IMG], [GIA], [MADANHMUC]) VALUES (N'SP1', N'Giày Đá Bóng', N'Rất Thích Hợp Cho Các Chàng Trai', N'static/images/impulse-cam-1_large.jpg', 190, N'DM1')
INSERT [dbo].[SANPHAM] ([MASANPHAM], [TENSANPHAM], [MIEUTA], [IMG], [GIA], [MADANHMUC]) VALUES (N'SP3', N'Giày Đá Bóng', N'Rất Thích Hợp Cho Các Chàng Trai', N'static/images/pan-impulse-tf-xanh-ngoc-1_large.jpg', 190, N'DM1')
INSERT [dbo].[SANPHAM] ([MASANPHAM], [TENSANPHAM], [MIEUTA], [IMG], [GIA], [MADANHMUC]) VALUES (N'SP4', N'Bóng', N'Rất Thích Hợp Cho Các Chàng Trai', N'static/images/qua-bong-ro-gerustar-promaster-s7_large.jpg', 190, N'DM3')
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADON] ([MAHOADON])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD FOREIGN KEY([MASANPHAM])
REFERENCES [dbo].[SANPHAM] ([MASANPHAM])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD FOREIGN KEY([MADANHMUC])
REFERENCES [dbo].[DANHMUC] ([MADANHMUC])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
USE [master]
GO
